body {
    background: linear-gradient(45deg,#e0745b 100%);
    min-height: 100vh;
}

.card {
    border-radius: 20px !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3) !important;
}

.btn-primary {
    background: linear-gradient(to right, black);
    border-radius: 50px;
    padding: 10px 25px;
}